textarea.materialize-textarea {
    overflow-y: scroll;
}

.cc {
	margin: 1.5em;
	margin-top: 2.5em;
}

.spacer {
	margin: 10px;
}
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 8%;
  left: 4%;
}

.magicbtt {
	width: 24%;
}

.magicbtt2 {
	width: 32%;
}