@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
	height: 1080px;
	width: 1920px;
}

.site {
	margin: 1em;
	height: 100%;
}

body {
	height: 1080px;
	width: 1920px;
	margin: 0px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
}

.row {
	margin-bottom: 5px;
}

#insertcontenthere {
	opacity: 0;
	font-family: MONOSPACE;
	left: auto;
}

.row .col.s6 {
	width: inherit;
}